span.main {
  font-family: Verdana; font-size: 12px; COLOR: #FFFFFF; 
}

.show { display:inline }
.hide { display:none }

/*titles*/
.title1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; color: #FF9400}
.title2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #6C8599; font-weight: bold}
.title3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; color: #000000;}
.title4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #003366; font-weight: bold}

/*tab*/
.tabSelected {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF}
.tabLink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #002252; font-weight: bold}

/*different labels*/
.labelmenu {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF}
.label1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000 }
.label2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #003366 }
.label3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #999999 }
.label4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #999999 }
.label5 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #000000 }
.label6 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000 }
.label7 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #003366 }
.error  {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FF3300; font-weight: bold}
.required  {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FF3300; font-weight: bold}

.label1Bold {  font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000099}
.label2Bold {  font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}
.label3Bold {  font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #999999 }
.label4Bold {  font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #999999 }
.label5Bold {  font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #000000 }


/*input texts*/
.inputtext1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}
.noTextbox {BORDER-RIGHT: medium none;BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #003366 }

/*links*/
.links1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #666666; font-weight: normal ; text-decoration: none; text-align: center }
a.links1:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #666666; font-weight: bold; text-decoration: underline text-align: center }
.links2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000066; vertical-align: middle; text-decoration: none; letter-spacing: 1pt}
a.links2:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #FF9400}
.links3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #000000; vertical-align: middle; text-decoration: none; letter-spacing: 1pt}
a.links3:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #FF9400}
.toplinks { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #99CCFF; text-decoration: none }
a.toplinks:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FF9900; text-decoration: none }

.menulinks1 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; font-weight: bold ; text-decoration: none; text-align: center }
a.menulinks1:hover { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFCC00; font-weight: bold; text-decoration: none ;text-align: center }


/*table*/
.listTable1 { border: 1px solid #D1D1D1;}
.headerRow1 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ABCDEF; TEXT-ALIGN: center; padding-left: 2px; color: #000000}
.headerRow2 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ABCDEF; TEXT-ALIGN: left; padding-left: 2px; color: #000000; font-weight: bold}
.headerRow3 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ABCDEF; TEXT-ALIGN: left; padding-left: 2px; color: #000000; font-weight: bold}
.headerRow4 { FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CECECE; TEXT-ALIGN: center; padding-left: 2px; color: #000000; font-weight: bold}
.headerRow5 { FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CECECE; TEXT-ALIGN: center; padding-left: 2px; color: #FFFFFF; font-weight: bold}
.headerRow6 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ABCDEF; TEXT-ALIGN: center;  color: #000000; font-weight: bold; border:0px; height:25}
.headerRow7 { FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ABCDEF; TEXT-ALIGN: center;  color: #000000; font-weight: bold; border:0px; height:25}



.row1 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CECECE; padding-left: 2px; padding-right: 2px;}
.row2 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #EDEFF0; padding-left: 2px; padding-right: 2px;}
.row3 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CECECE; padding-left: 2px; padding-right: 2px;}
.row4 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #FF9900; padding-left: 2px; padding-right: 2px; font-weight: bold}

.row5 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CECECE; padding-left: 2px; border:0px}
.row6 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #EDEFF0; padding-left: 2px; border:0px}

.row7 { FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CECECE; padding-left: 2px; padding-right: 2px;}
.row8 { FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #EDEFF0; padding-left: 2px; padding-right: 2px;}

/*buttons*/
.button1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}

.selectbox1{FONT-SIZE: 8pt;WIDTH: 300pt;COLOR: #000000;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}

/*popup*/
.menuselect {FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}
SELECT.smallselect {FONT-SIZE: 9px}
.dataTablejj{ border: 1px solid #D1D1D1;}


