/*titles*/
.title1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; color: #FF9400}
.title2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #6C8599; font-weight: bold}

/*different labels*/
.label1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #003333}
.label2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000 }
.label3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #999999 }
.label4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #999999 }
.labelmenu {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #FFFFFF}
.label5 {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt;  }


.label1Bold {  font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000099}
.label2Bold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: bold }

/*input texts*/
.inputtext1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}
.noTextbox {BORDER-RIGHT: medium none;BORDER-TOP: medium none;FONT-SIZE: 8pt;BORDER-LEFT: medium none;BORDER-BOTTOM: medium none;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }


/*links*/
.links1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #666666; font-weight: bold ; text-decoration: none; text-align: center }
a.links1:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #666666; font-weight: bold; text-decoration: underline text-align: center }
.links2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000066; vertical-align: middle; text-decoration: none; letter-spacing: 1pt}
a.links2:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #FF9400}
.links3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #000000; vertical-align: middle; text-decoration: none; letter-spacing: 1pt}
a.links3:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #FF9400}
.toplinks { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #99CCFF; text-decoration: none }
a.toplinks:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FF9900; text-decoration: none }

.menulinks1 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; font-weight: bold ; text-decoration: none; text-align: center }
a.menulinks1:hover { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFCC00; font-weight: bold; text-decoration: none ;text-align: center }


/*table*/
.listTable1 { border: 1px solid #D1D1D1;}
.headerRow1 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ABCDEF; TEXT-ALIGN: center; padding-left: 2px; color: #000000; font-weight: bold}
.row1 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CECECE; TEXT-ALIGN: left; padding-left: 2px;}
.row2 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #EDEFF0; TEXT-ALIGN: left; padding-left: 2px;}
.row3 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CECECE; TEXT-ALIGN: center; padding-left: 2px;}
.row4 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #EDEFF0; TEXT-ALIGN: center; padding-left: 2px;}

.headerRow2 { FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ABCDEF; TEXT-ALIGN: left; padding-left: 2px; color: #000000; font-weight: bold}



.headerRow2 { FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CECECE; TEXT-ALIGN: center; padding-left: 2px; color: #000000; font-weight: bold}
.headerRow3 { FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CECECE; TEXT-ALIGN: center; padding-left: 2px; color: #FFFFFF; font-weight: bold}


/*buttons*/
.button1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}