<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="MFNotification">
        <wb-resource deploy-path="/" source-path="/appClientModule" tag="defaultRootSource"/>
        <property name="java-output-path" value="/MFNotification/build/classes"/>
    </wb-module>
</project-modules>
