@CHARSET "ISO-8859-1";

#addNoteTable {
	width: 600px;
	height: 500px;
	border: 2px solid #708090;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	font: bold;
	margin: 10px;
	text-align: left;
	text-indent: 10px;
	border: 2px solid #708090;
}

#addNoteTable th {
	background-color: #F8CF00;
	font: bold;
	font-size: 16px;
	height: 20px;
	border: 1px solid #708090;
	width: 100%;
}

#documentTitle {
	margin-left: 10px;
	width: 485px;
}

#notesTextArea {
	height: 400px;
	width: 100%;
}

#controls {
	float: right;
}