#menudiv{
	padding-top: 15px;
	
}
.menuListStyle{
		list-style-type:none;
		margin:0;
		padding:0;
		width:100%;
}
.menuListStyle li{
		height: 16px;
}
	#collectionsSubNodes,#deposlipSubNodes,#slamcipesoSubNodes,#slamcidollarSubNodes,#slocpipesoSubNodes,#slocpidollarSubNodes,
	#slgfipesoSubNodes,#slgfidollarSubNodes,#slfpipesoSubNodes,#otherpesoSubNodes,#otherdollarSubNodes{
		display: none;
		list-style-type:none;
		margin:0;
		padding:0;
		width:100%;
	}
	
	#collectionsNode,#deposlipNode,#slamcipesoNode,#slamcidollarNode,#slocpipesoNode,#slocpidollarNode,#slgfipesoNode,#slgfidollarNode,
	#slfpipesoNode,#otherpesoNode,#otherdollarNode{
		height: 16px;
	}



/*.menuLvl_1 a,.menuLvl_2 a,.menuLvl_3 a,.menuLvl_4 a{
	width: 100%;
}*/

/*.menuLvl_1{
	line-height: 1em;
}

.menuLvl_2{
	line-height: 1em;
}

.menuLvl_3{
	line-height: 1em;
}

.menuLvl_4{
	line-height: 1em;
}*/

#collectionsSubNodes li a{
		padding-left: 40px;
		background-image: none;
		background-color:transparent;
		background-repeat:no-repeat;
		background-position:24px 1px; 
}

#collectionsSubNodes li a.confirmed {
		background-image: url('../images/CheckIcon.png');
}

#collectionsSubNodes li a.unconfirmed {
		background-image: none;
}

#collectionsSubNodes li a:active{
		background-color:white;
}


.menuLvl_1 a, .menuLvl_2 a, .menuLvl_3 a, .menuLvl_4 a {
		display: block;
		text-align:left;	
		text-decoration:none;
		font:bold 12px/16px Arial, Helvetica, sans-serif;
		color:black;
		background-color: #FE9900;
}

/*must be in order: link, visited, hover, active*/
.menuLvl_1 a:link, .menuLvl_1 a:visited{
		padding-left: 12px;
}

.menuLvl_2 a:link, .menuLvl_2 a:visited{
		padding-left: 24px;
}

.menuLvl_3 a:link, .menuLvl_3 a:visited{
		padding-left: 42px;
}

.menuLvl_4 a:link, .menuLvl_4 a:visited{
		padding-left: 64px;
}

.menuLvl_1 a:hover, .menuLvl_2 a:hover, .menuLvl_3 a:hover, .menuLvl_4 a:hover{
		text-decoration:underline;
}

.menuLvl_1 a:active, .menuLvl_2 a:active, .menuLvl_3 a:active, .menuLvl_4 a:active{
		background-color:white;
}





/*
add check icon on saved deposit slips
*/

a.true{
		padding-left: 40px;
		background-image: url('../images/CheckIcon.png');
		background-color:transparent;
		background-repeat:no-repeat;
		background-position:24px 1px; 
}

a.false{
		background-image: none;
}
