table{
	width: 100%;	
	}
		
.tableTitle {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	font:bold;
	color: #FFFFFF;
}

.adminTable tr {
	border: 0px solid white; 
	background-color: #F8CF00;
	font-size: 13px;
	text-align: left;
}
.oddRow{
	background-color: #FFFFFF;	
}

.evenRow{
	background-color: #D4DFE9;	
}
.adminTable td {
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}
a.blue:link {color: #3A66A7; text-decoration: none;}
a.blue:active {color: #3A66A7; text-decoration: none;}
a.blue:visited {color: #3A66A7; text-decoration: none;}
a.blue:hover {color: #3A66A7; text-decoration: none;}
