@CHARSET "ISO-8859-1";

.attachmentsTable {
	width: 500px;
	border: 2px solid #708090;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	font: bold;
	margin: 10px;
	text-align: left;
	text-indent: 10px;
}

.attachmentsTable th {
	background-color: #F8CF00;
	font: bold;
	font-size: 16px;
	height: 20px;
	border: 1px solid #708090;
	width: 100%;
}

#browseButton {
	width: 400px;
	height: 25px;
	margin-left: 15px;
}

#descTextArea {
	width: 400px;
	height: 60px;
	margin-left: 60px;
}

#controls {
	float:right;
	margin-right:15px;
}