#cmSearchCriteriaDiv {
	width: 620px;
	height: 120px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;	
	border: 1px solid black;
}
		
.tableTitle {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	font:bold;
	color: #FFFFFF;
}

#cmSearchDatepicker {
	width: 130px;
	text-transform: uppercase;
}
#cmSearchCriteriaTable {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
	border: 0px;
	width: 100%;	
}
.cmSearchCriteriaTableLabel{
	text-align: left;
	width: 100px;
}
#cmSearchCriteriaTableRBHub{
	text-align: left;
	width: 50px;
}
#cmSearchCriteriaTableRBSiteCode{
	text-align: left;
	width: 100px;
}
#cmSearchCriteriaTableDDSiteCode{
	text-align: left;
	width: 300px;
}

#cmSearchResultDiv{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
	border: 0px;
	margin: 5px;
	display: inline;
	width: 620px;
	visibility: hidden;
}
.cmSearchResultHeader{
	width:50%;
	display:inline;
}
#showItemsDiv{
	text-align: right;
}

#cmSearchCriteriaTitle{
	text-align: center;
}
#cmSearchResultTitle{
	text-align: left;	
}
.cmSearchResultsTable th {
	border: 0px solid white; 
	background-color: #F8CF00;
	font-size: 13px;
	text-align: left;
}
.oddRow{
	background-color: #FFFFFF;	
}

.evenRow{
	background-color: #D4DFE9;	
}
.cmSearchResultsTable td {
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}
.cmInfoDiv{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
	border: 0px;
	margin: 5px;
	display: block;	
}
a.blue:link {color: #3A66A7; text-decoration: none;}
a.blue:active {color: #3A66A7; text-decoration: none;}
a.blue:visited {color: #3A66A7; text-decoration: none;}
a.blue:hover {color: #3A66A7; text-decoration: none;}

#tabTable{
	border: 0px;
	margin-left: 5px;	
}
.tabCell{	
	align: center;
	height: 30px;
	width: 150px;
	border: 0px;
	background: grey;
	font-size: 15px;
	font:bold;
	color: white;
	padding: 0px;
	margin:0px;
	text-align: center;
}

.cmTableClass td{
	vertical-align: top;
}

.cmTableClass th {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
	font-size: 15px;
}

.cmTableClass {
	border: 0px solid white; 
	border-collapse: collapse;
	width: 100%;
	margin-left: 5px;
	font-size: 12px;
}

#attachedRequirementsDiv{
	display: none;
}

.alignCenter{
	text-align: center;
}