.slamciDollarTable{	
	border: 1px solid white; 
	margin: 0px;	
	font-size: 11px;
	color: #000000;	
	font-weight: bold;	
	width: 1300px;
}

.slamciDollarTable th{
	background-color: #ADB7C1;	
	text-align: center;
}

.slamciPesoTable{	
	border: 1px solid white; 
	margin: 0px;	
	font-size: 11px;
	color: #000000;	
	font-weight: bold;	
	width: 1500px;
}

.slamciPesoTable th{
	background-color: #ADB7C1;	
	text-align: center;
}

.spHeaderClass {
	border: 1px solid white; 
	border-collapse: collapse;
	width: "1000px";
}

.spHeaderClass td{
	vertical-align: top;
}

.spHeaderClass th {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
}
#spHeaderDiv{
	width: "1000px";
}
#spHeaderNode{
	width: "1000px";
}

.commentTableClass {
	width: 500px;
	text-align: left;
	font-size: 11px;
	color: #000000;
}

.commentTableClass th{
	background-color: #ADB7C1;	
	text-align: left;
	font-size: 11px;
	color: #000000;
}

#commentDiv{
	text-align: left;
}

#spaDiv{
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
}

.centeredHeader {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	width: "1000px";
	font-weight: bold;
}

.alignLeftHeader{
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
	width: "1000px";
	font-weight: bold;
}

.balancingToolSummary{	
	border: 1px solid white; 
	margin: 0px;	
	font-size: 11px;
	color: #000000;	
	font-weight: bold;	
	width: 100%;
}

.balancingToolSummary th{
	background-color: #ADB7C1;	
	text-align: center;
}

.oddRow{
	background-color: #D4DFE9;		
	text-align: center;
}

.evenRow{
	background-color: #FFFFFF;	
	text-align: center;
}

.redBalance{
	text-align: right;
	color: red;
}

.numFormat{
	text-align: right;
}

.alignLeft{
	text-align: left;	
}

.alignLeftRed{
	text-align: left;
	color: red;	
}

.alignRight{
	text-align: right;
}
.alignCenter{
	text-align: center;
}

.totalRow{
	background-color: #FF7F20;
}

iframe{
	height: 400px;
	border: 0px solid white;	
}
button{
	font-size: 12px;
}

#launchNode{
	text-align: center;	
}
#commentLabel{
	width: 500px;
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
}
#iframe_a {
   width: 500px;
}

#allCommentsPopUpDiv {
	display: none !important; /*fix for hide*/
	width: 802px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;	
	border: 0px solid black;
}

#allCommentsPopUpTableNode{
	display: inherit; /*fix for hide*/
	padding: 0px; /*fix for border*/
	margin: 0 auto;
	top: 0px;
	left: 0px;
	border: 1px solid black;
}

#allCommentsPopUpNode{
	display: inherit; /*fix for hide*/
	margin: 0 auto;
	top: 0px;
	left: 0px;
}

.commentLabelBorderedTable {
	width: 802px;
	border: 1px solid white; 
	border-collapse: collapse;
}

.commentLabelBorderedTable th {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
}

.commentBorderedTable {
	width: 802px;
	border: 1px solid white; 
	border-collapse: collapse;
	table-layout: fixed;
}

.commentBorderedTable th {
	border: 1px solid white; 
	background-color: #F8CF00;
	font-size: 13px;
	text-align: center;
}

.commentBorderedTable td {
	border: 1px solid white;	
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}

#addCommentNode{
	display: inline;
	text-align: left;
	width:50%;
}
#addCommentButton{
	width: 120px;
}
#addCommentDiv{
	display: none;
	
}
#spNoteDiv{
	display: none;
}
.noteFormClass .ui-dialog-title{
	font-size: 14px;
}

#inactiveCashierDiv{
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
	width: 1000px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
#icList{
	width: 1000px;
}
#icListNode{
	width: 1000px;
}
.icHeaderClass {
	border: 1px solid white; 
	border-collapse: collapse;
	width: 1000px;
}

.icHeaderClass td{
	vertical-align: top;	
	border: 1px solid white;	
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}

.icHeaderClass th {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
}
.responseHeader {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
#commentButtons{
	text-align: left;
}

#slamciPesoDiv{
	width: 100%;	
}

#responseLabel {
	font-size: 12px;
	text-align: left;
	font-weight: bold;
}