#centerCodeDiv {
	width: 1200px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;	
	border: 0px solid black;
}
#centerCodeTableNode{
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	border: 1px solid black;
}
#centerCodeNode{
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
}

table{
	width: 100%;	
	}
	
.centerCodeLabelBorderedTable {
	border: 0px solid white; 
	border-collapse: collapse;
}


.centerCodeLabelBorderedTable th {
	border: 0px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
}

.centerCodeBorderedTable {
	border: 1px solid white; 
	border-collapse: collapse;
}


.centerCodeBorderedTable th {
	border: 1px solid white; 
	background-color: #F8CF00;
	font-size: 13px;
	text-align: center;
}

.centerCodeBorderedTable td {
	border: 1px solid white;	
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}

#addCenterCodeNode{
	display: inline;
	text-alignt: left;
	width:20%;
}

.oddRow {
	background-color: #FFFFFF;	
}

.evenRow {
	background-color: #D4DFE9;	
}

#navigationNode{
	display: inline;
	text-align: right;
	width:80%;
}

a.blue:link {color: #3A66A7; text-decoration: none;}
a.blue:active {color: #3A66A7; text-decoration: none;}
a.blue:visited {color: #3A66A7; text-decoration: none;}
a.blue:hover {color: #3A66A7; text-decoration: none;}

#adminCenterCodeOperationTable {
	border: 0px solid white; 
	border-collapse: collapse;
	width: 30%;
}

#adminCenterCodeFormTable {
	border: 0px solid white; 
	border-collapse: collapse;
	width: 50%;
}

#adminCenterCodeFormTable td {
	border: 1px solid white;	
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}

.adminCenterCodeFormTable th {	
	border: 0px solid white; 
	background-color: #003F60;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
}

#searchCriteriaTable {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
	border: 0px;
}
.searchCriteriaTableLabel{
	text-align: left;
	width: 100px;
}