#addCommentDiv{
	display: none;
	
}

/*.commentFormClass{
	font-size: 12px;
	font-family:arial,helvetica,sans-serif;
}*/

/*.commentTableClass {
	font-size: 12px;
}*/

.commentFormClass .ui-dialog-title{
	font-size: 14px;
}

.commentTableClass .ui-dialog-title{
	font-size: 14px;
}

#allCommentsPopUpDiv {
	display: none !important; /*fix for hide*/
	width: 802px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;	
	border: 0px solid black;
}

#allCommentsPopUpTableNode{
	display: inherit; /*fix for hide*/
	padding: 0px; /*fix for border*/
	margin: 0 auto;
	top: 0px;
	left: 0px;
	border: 1px solid black;
}

#allCommentsPopUpNode{
	display: inherit; /*fix for hide*/
	margin: 0 auto;
	top: 0px;
	left: 0px;
}

#commentDiv {
	width: 804px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;	
	border: 0px solid black;
}
#commentTableNode{
	margin: 0 auto;
	top: 0px;
	left: 0px;
	border: 1px solid black;
}
#commentNode{
	margin: 0 auto;
	top: 0px;
	left: 0px;
}

table{
	width: 100%;
	}
	
.commentLabelBorderedTable {
	width: 802px;
	border: 1px solid white; 
	border-collapse: collapse;
}

#popupTable{	
	table-layout: fixed;	
}

#commentTable{	
	table-layout: fixed;	
}

.commentLabelBorderedTable th {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
}

.commentBorderedTable {
	width: 802px;
	border: 1px solid white; 
	border-collapse: collapse;
}

.commentBorderedTable th {
	border: 1px solid white; 
	background-color: #F8CF00;
	font-size: 13px;
	text-align: center;
}

.commentBorderedTable td {
	border: 1px solid white;	
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}

.viewEditButton{
	height: 20px;
	width: 20px;
}

#addCommentNode{
	display: inline;
	text-align: left;
	width:50%;
}
#navigationNode{
	display: inline;
	text-align: right;
	width:50%;
}
#viewCommentsButton{
	width: 105px;
}
#addCommentButton{
	width: 95px;
}
#goBackButton{
	width: 65px;
}
#continueButton{
	width: 65px;
} 
.oddRow{
	background-color: #FFFFFF;	
}

.evenRow{
	background-color: #D4DFE9;	
}

