	body {
		font-family:arial,helvetica,sans-serif;
		margin: 0px;
		border: 0px;
		padding-right: 0px;
		padding-left: 0px;
		word-wrap: break-word;
	}
	#headerCell{
		height: 67px;
	}
	#menuCell{
		vertical-align: top;
		background-color: #FE9900;
		
	}
	#contentCell{	
		height: 60%;	
		vertical-align: top;
	}
	#commentCell{		
		vertical-align: top;
	}
	#reversalCell{		
		vertical-align: top;
	}
	#bodyCell{
		vertical-align: top;
		width: 88%;
	}

	