@CHARSET "ISO-8859-1";

.group {
	clear: left;
	width: 550px;
}

.groupRight {
	clear: left;
}

.sessionGroupRight {
	display: inline;
	padding-left: 5px;
	margin-left: 130px;
	height: 25px;
	width: 400px;
}

.sessionGroupRightCheque {
	display: inline;
	padding-left: 5px;
	margin-left: 30px;
	height: 25px;
	width: 400px;
}

label {
	display: block;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
}

input {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	float: left;
	display: block;
	margin: 0;
	height: 25px;
}

#accountNumber {
	width: 190px;
}

#depositedWith,#toTheCreditOf,#customerCenter {
	width: 320px;
}

#datepicker,#dcrDate {
	width: 90px;
	text-transform: uppercase;
}

#currency,#depositSlipType {
	width: 80px;
	text-transform: uppercase;
}

#sessionTotal {
	width: 180px;
	margin-bottom: 10px;
}

.content {
	float: left;
	padding-left: 60px;
	padding-top: 5px;
	height: 50px;
}

.contentMiddle {
	display: inline;
	float: right;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 20px;
	height: 25px;
}

.contentMiddleCheque {
	float: right;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	height: 25px;
}

.contentRight {
	display: inline;
	float: right;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	height: 25px;
}

.contentRightSlocpi {
	display: inline;
	float: right;
	height: 25px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.readonly {
	color: blue;
	font: bold;
	background: lightgrey;
	border: 0px;
}

.readonlyCash {
	color: blue;
	font: bold;
	background: lightgrey;
	border: 0px;
	width: 200px;
	text-align: right;
}

.readonlyDiscrepancy {
	color: red;
	font: bold;
	background: lightgrey;
	border: 0px;
	width: 200px;
	text-align: right;
}

.readonlyDenomination {
	color: blue;
	font: bold;
	background: lightgrey;
	border: 0px;
	width: 60px;
}

.readonlyChequeType {
	color: blue;
	font: bold;
	background: lightgrey;
	border: 0px;
	width: 230px;
}

.noOfPieces {
	font: bold;
	width: 60px;
}

.chequeAmount {
	font: bold;
	width: 230px;
}

#sessionGroupCash,#sessionGroupCheque {
	width: 550px;
	padding-bottom: 10px;
}

#SLOCPIBreakdown {
	width: 550px;
}

#SLOCPIBreakdownCheque {
	width: 710px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.label {
	display: inline;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
}

#sessionTotalLabel {
	
}

#denominationLabel {
	padding-left: 10px;
}

#noOfPiecesLabel {
	padding-left: 15px;
}

#cashAmountLabel {
	padding-left: 15px;
}

#totalCashAmountLabel {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font: bold;
	padding-top: 5px;
}

#totalChequeAmountLabel,#chequediscrepancyLabel,#SLOCPI,#SLFPI,#chequeAmountLabel,#chequeTypeLabel,#collectionTotalLabel,#mixedChequeLabel
	{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
}

#discrepancyLabel {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font: bold;
	color:red;	
}

#GroupLifeLabel,#TradVulLabel {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
	width: 80px;
}

/*
#row {
	display: table-row;
	height:100%;
	border:1px black solid;
}
#sessionTotal {
	display: table-cell;
	height:100%;
	width: 33%;
	border:1px black solid;
}

#denomination {
	display: table-cell;
	height:100%;
	width: 16%;
	border:1px black solid;
}

#noOfPieces {
	display: table-cell;
	height:100%;
	width: 16%;
	border:1px black solid;
}

#cashAmount {
	display: table-cell;
	height:100%;	
	width: 33%;
	border:1px black solid;
}


*/
/*depositSlip */
#depositSlipTableDiv {
	margin: 10px;
}

.depositSlipTable {
	
}

.depositSlipTable th {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	height: 30px;
	padding: 0;
	text-align: left;
}

.depositSlipTable td {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	text-indent: 15px;
	padding-right: 5px;
	text-align: right;
	border: 5px;
}

.overflow {
	overflow-x: auto;
}

#previewButton,#saveButton {
	width: 80px;
}

#controls {
	margin-left: 60px;
}

#chequeTable {
	margin-left: 60px;
	width: 650px;
}

#slocpiBreakdownTable {
	float: right;
	margin-right: 2px;
}