@CHARSET "ISO-8859-1";

.emailTable {
	width: 500px;
	height: 300px;
	border: 2px solid #708090;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	margin: 10px;
}

.emailTable th {
	background-color: #F8CF00;
	font: bold;
	font-size: 16px;
	height: 25px;
	border: 1px solid #708090;
}

.emailTable td {
	height: 25px;
}

.emailTableLabel {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font: bold;
	clear: left;
}

#emailTableTo,#emailTableCc,#emailTableSubject {
	width: 430px;
	float: right;
}

#emailTableContent {
	width: 400px;
	height: 70px;
	float: right;
	clear: both;
}

#addRemoveDiv {
	display: none;
}

#addressBookSelect,#selectedContacts {
	width: 200px;
	height: 250px;
	'
}

.controls {
	float: right;
	clear: both;
}