.decimalAlign{
	text-align: right;
}

form {
    width: 500px;
    margin: 0 auto;
}

.customFieldset{
	border: 0;
}

.header {
    display: block;
    clear: both;
    color: blue;
    background-color: lightgrey;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
}

form ul {
    list-style-type: none;
    margin: 0;    
}

form ul li {
    clear: both;
    height:24px;
}

/**MISCELLANEOUS CASH ON HAND**/

ul label {
    float: left;
    width: 50%;
    color: blue;
    background-color: lightgrey;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
}

input {
    float: right;
}

input[type=text]{
    width: 100px;
    text-align: right !important;/*DOESN'T WORK*/
}

/**US DOLLAR COIN COLLECTION**/

ul label.popUpLink {
    color: red;
    text-decoration: underline;    
}

span.coinCollectionTotal{
    float: right;
    width: 200px;
    color: blue;
    background-color: lightgrey;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}

/**PDC-PENDING FOR WAREHOUSE**/
label.columnStyle {          
    float: left;
    margin-right:10px;
}
label span {
    display: block;
    color: blue;
    background-color: lightgrey;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;    
}
label input {/*override inherited styles from above*/   
    float: none !important;
    width: 150px;
}

/**PR SERIES NUMBER USED and ISO COLLECTION**/ 
	     #prSeriesGrid, #isoCollectionGrid {
	       border:none;
	       width: 100%;
		   /*width: 400px;*/
	       border-collapse:separate;
	       border-spacing:10px;  
	     }
        .headcell {
            border:none;
            text-align: center;
    
            line-height: 20px;
                
            color: blue;
            background-color: lightgrey;
            font-family: arial, helvetica, sans-serif;
            font-size: 12px;
            font-weight: bold;
        }
        .cell {
            border:none;
            text-align: left;
        }
        /*override inherited styles from above*/
        #prSeriesGrid td input {   
		    float: none !important;
		    width: 124px;
		}
		#isoCollectionGrid td input {
			float: none !important;
		    width: 150px;
		}
        
/**AFTER CUTOFF COLLECTION**/

.oneThird {
	float: left;
	margin-right: 10px;
	width: 30%;
}

/**FOR SAFEKEEPING**/

.safekeepingTextArea{
	float: left;
}

.charsRemain{
	float: left;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}

.submitBtns{
	float: right;
	width: 80px;
	height: 35px;
	margin: 3px;
	        color: blue;
            background-color: lightgrey;
            font-family: arial, helvetica, sans-serif;
            font-size: 12px;
            font-weight: bold;
            border: 1px solid black;
}

/**USD COIN RECEIVED FROM PREV DAY**/

#rcvdPrevDayGridDiv{
	display: none;
}
#rcvdPrevDayGridDiv table{
	border-collapse:collapse;
	width: 100%;
}
#rcvdPrevDayGridDiv table, #rcvdPrevDayGridDiv th, #rcvdPrevDayGridDiv td {
	border: 1px solid black;
}
#rcvdPrevDayGridDiv th{
	height:30px;
} 
#rcvdPrevDayGridDiv td{
	font-family: arial, helvetica, sans-serif;
    font-size: 12px;
	text-align: center;
}
.grandtotalCell{
	font-weight: bold;
}

/**USD COIN RECEIVED TODAY**/

#rcvdTodayFormDiv{
	display: none;
}
#rcvdTodayFormDiv table{
	border-collapse:collapse;
	width: 100%;
}
#rcvdTodayFormDiv table, #rcvdTodayFormDiv th, #rcvdTodayFormDiv td {
	border: 1px solid black;
}
#rcvdTodayFormDiv th{
	height:30px;
} 
#rcvdTodayFormDiv td{
	font-family: arial, helvetica, sans-serif;
    font-size: 12px;
	text-align: center;
}
.inputPcs{
	font-size: 10px !important;
	height: 15px;
	width: 100%;
}
.PhpOverlay{
	background: #FFFFFF url(../images/Php.PNG) no-repeat left bottom;
}
.PcsOverlay{
	background: #FFFFFF url(../images/Pcs.PNG) no-repeat left bottom;
}
.USDOverlay{
	background: #FFFFFF url(../images/USD.PNG) no-repeat left bottom;
}