#dcrDiv {
	width: 1000px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;	
	border: 0px solid black;
}
#dcrTableNode{
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	border: 1px solid black;
}
#dcrNode{
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
}

table{
	width: 100%;	
	}
	
.dcrLabelBorderedTable {
	border: 0px solid white; 
	border-collapse: collapse;
}


.dcrLabelBorderedTable th {
	border: 0px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
}

.dcrBorderedTable {
	border: 1px solid white; 
	border-collapse: collapse;
}


.dcrBorderedTable th {
	border: 1px solid white; 
	background-color: #F8CF00;
	font-size: 13px;
	text-align: center;
}

.dcrBorderedTable td {
	border: 1px solid white;	
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}

#adddcrNode{
	display: inline;
	text-alignt: left;
	width:20%;
}

.oddRow {
	background-color: #FFFFFF;	
}

.evenRow {
	background-color: #D4DFE9;	
}

#navigationNode{
	display: inline;
	text-align: right;
	width:80%;
}

a.blue:link {color: #3A66A7; text-decoration: none;}
a.blue:active {color: #3A66A7; text-decoration: none;}
a.blue:visited {color: #3A66A7; text-decoration: none;}
a.blue:hover {color: #3A66A7; text-decoration: none;}

#adminDCRStatusFormTable {
	border: 0px solid white; 
	border-collapse: collapse;
	width: 50%;
}

#adminDCRStatusFormTable td {
	border: 1px solid white;	
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}

.adminDCRStatusFormTable th {	
	border: 0px solid white; 
	background-color: #003F60;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
}

#viewSQLPopUpTableNode{
	display: inherit; /*fix for hide*/
	padding: 0px; /*fix for border*/
	margin: 0 auto;
	top: 0px;
	left: 0px;
	border: 1px solid black;
}

#viewSQLPopUpNode{
	display: inherit; /*fix for hide*/
	margin: 0 auto;
	top: 0px;
	left: 0px;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

.viewSQLTableClass .ui-dialog-title{
    font-family: arial, helvetica, sans-serif;
	font-size: 13px;
}

#searchCriteriaTable {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
	border: 0px;
}
.searchCriteriaTableLabel{
	text-align: left;
	width: 100px;
}