* { 
	font-family: Verdana, Arial, sans-serif; 
}


body {
	background-color: white;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: black;
}


td {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #333333;
	valign: top;
}

th {
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	font-family: Verdana, Arial, sans-serif;

}

.definition {
	font-size: 11px;
	color:  #404040;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
}

a {
	color: #003399;
	text-decoration: none;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
  	font-size: 24px;
	line-height: 30px;
	color: black;
	text-align: left;
	
}

.notification {
		font-family: Verdana, Arial, Helvetica, sans-serif;
  		font-size: 24px;
		line-height: 30px;
  		color: #084a7f;
		text-align: right;
	
}

.text {
		font-family: Verdana, Arial, Verdana, sans-serif;
  		font-size: 11px;
  		color: black;
	
}

.applychanges {
		font-family: Verdana, Arial, sans-serif;
		font-size: 10px;
		font-style: italic;
		
		}

.linkpath {
	font-family: Verdana, Arial,sans-serif;
	font-weight: bolder;
	font-size: 10px;
	line-height: 22px;
	font-weight: bold;
  color: black;
  text-align: right;
}

.section {
font-family: Verdana, Arial, sans-serif;
	background-color: #ffffff;
	font-size: 12px;
	line-height: 16px;
	color: #003399;
	font-weight: bold;
}

.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
  color: #006666;
}



.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	background-color: #006666;
  	color: #DCDCDC;
}

.sidebar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding-left: 20px;
	font-indent: 30px;
}

.sidebarHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	background-color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	color: black;
	padding-left: 20px;

}

.sidebarFooter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #CCCCCC;
}

.footer {
  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #CCCCCC;
}

.legal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	text-align: right;
}

.important {
	font-family: Verdana, Arial, Verdana, sans-serif;
  	color: red; 
  	font-weight: bold;
	font-size: 11px;

}


a:hover {
	text-decoration: underline;
}

.footnote {
	font-size: 9px
}

