#errorListDiv{
	padding-left: 90px;
}

.ETselect{
	width: 150px;
}

.errorLogTableClass{	
	border: 1px solid white; 
	margin: 0px;	
	font-size: 11px;
	color: #000000;	
	font-weight: bold;	
	width: 100%;
}

.errorLogTableClass th{
	background-color: #ADB7C1;	
	text-align: center;
}

.oddRow{
	background-color: #D4DFE9;		
	text-align: center;
}

.evenRow{
	background-color: #FFFFFF;	
	text-align: center;
}

#lookupButtonsDiv{
	text-align: right;
}

#logButtonsDiv{
	text-align: right;
}

#errorLookupDiv{
	width: 620px;
	height: 120px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;
	border: 1px solid black;
}

.tableTitle {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	font:bold;
	color: #FFFFFF;
}

#errorLookupDivTitle{
	text-align: center;
}

.redFont{
	color: red;
}