#headerdiv{
	height:67px;
	width:100%;
	border: 0px;	
	background-color: #003F60;
	padding-left: 0px;
}
#headerTable{
	width: 100%;
}
#logoSection{	
	width: 50%;
}
#bannerSection{
	width: 50%;
	}
#header {	
	border:0px solid RED;
	height:67px;
	background-color: #003F60;
	width: 100%;
	padding: 0px;
}
#headerText
{
    font-size:        8pt;
    font-family:      tahoma, arial, helvetica;
    color:            #ffffff;
    margin:           0px;
    border-top:       0px;
}

a.white:link {color: #ffffff; background: #003F60; font-size: 8pt; font-family: tahoma, arial, helvetica; text-decoration: none;}
a.white:active {color: #ffffff; background: #003F60; font-size: 8pt; font-family: tahoma, arial, helvetica; text-decoration: none;}
a.white:visited {color: #ffffff; background: #003F60; font-size: 8pt; font-family: tahoma, arial, helvetica; text-decoration: none;}
a.white:hover {color: #ffffff; background: #003F60; font-size: 8pt; font-family: tahoma, arial, helvetica; text-decoration: none;}

#logo{
	height: 35px;
	width: 100%;	
    display: inline;
	background-image: url(../images/Banner.gif) #003f60 no-repeat left 50%;
}
#banner {	
	height:67px;
	width: 100%;	
	align: right;
	vAlign: top;
	display: inline;
	background-image: url(../images/BannerElements.jpg) #003f60 no-repeat right 50%;
}
