#homeDCRDiv {
	width: 800px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;	
	border: 0px solid black;
}
#homeDCRTableNode{
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	border: 1px solid black;
}
#homeDCRNode{
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
}

table{
	width: 100%;	
	}
	
.homeDCRLabelBorderedTable {
	border: 0px solid white; 
	border-collapse: collapse;
}


.homeDCRLabelBorderedTable th {
	border: 0px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
}

.homeDCRBorderedTable {
	border: 1px solid white; 
	border-collapse: collapse;
}


.homeDCRBorderedTable th {
	border: 1px solid white; 
	background-color: #F8CF00;
	font-size: 13px;
	text-align: center;
}

.homeDCRBorderedTable td {
	border: 1px solid white;	
	font-size: 13px;
}

#addhomeDCRNode{
	display: inline;
	text-alignt: left;
	width:20%;
}

.homeDCRTable .oddRow {
	background-color: #C0C0C0;	
}

.homeDCRTable .evenRow {
	background-color: #FFFFFF;	
}