#homeDiv {
    width: 800px;
    margin: 5px;
    top: 0px;
    left: 0px;
    padding: 0px auto;
    vertical-align: top;	
    border: 0px solid black;
}
#homeTableNode{
    width: 100%;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    border: 1px solid black;
}
#homeNode{
    width: 100%;
    margin: 0 auto;
    top: 0px;
    left: 0px;
}

table{
    width: 100%;	
}

.homeLabelBorderedTable {
    border: 0px solid white; 
    border-collapse: collapse;
}


.homeLabelBorderedTable th {
    border: 0px solid white; 
    background-color: #003F60;
    font-size: 15px;
    text-align: left;
    color: #FFFFFF;
}

.homeBorderedTable {
    border: 1px solid white; 
    border-collapse: collapse;
}


.homeBorderedTable th {
    border: 1px solid white; 
    background-color: #F8CF00;
    font-size: 13px;
    text-align: center;
}

.homeBorderedTable td {
    border: 1px solid white;	
    font-size: 13px;
}

#addhomeNode{
    display: inline;
    text-alignt: left;
    width:20%;
}
#navigationNode{
    display: inline;
    text-align: right;
    width:80%;
}
a.blue:link {color: #3A66A7; text-decoration: none;}
a.blue:active {color: #3A66A7; text-decoration: none;}
a.blue:visited {color: #3A66A7; text-decoration: none;}
a.blue:hover {color: #3A66A7; text-decoration: none;}

.oddRow {
    background-color: #FFFFFF;	
}

.evenRow {
    background-color: #E8E8E8;	
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: lightgrey url('../images/ajax-loader.gif') 45% 20% no-repeat;
}
