#searchCriteriaDiv {
	width: 800px;
	height: 150px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;	
	border: 1px solid black;
}

table{
	width: 100%;	
	}
		
.tableTitle {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	font:bold;
	color: #FFFFFF;
}

#searchDatepicker {
	width: 130px;
	text-transform: uppercase;
}
#searchCriteriaTable {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
	border: 0px;
}
.searchCriteriaTableLabel{
	text-align: left;
	width: 100px;
}
#searchCriteriaTableRBHub{
	text-align: left;
	width: 50px;
}
#searchCriteriaTableRBSiteCode{
	text-align: left;
	width: 100px;
}
#searchCriteriaTableDDSiteCode{
	text-align: left;
	width: 300px;
}

#searchResultDiv{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
	border: 0px;
	margin: 5px;
	display: inline;
	width: 800px;
	visibility: hidden;
}
.searchResultHeader{
	width:50%;
	display:inline;
}
#showItemsDiv{
	text-align: right;
}

#searchCriteriaTitle{
	text-align: center;
}
#searchResultTitle{
	text-align: left;	
}
.jobTable th {
	border: 0px solid white; 
	background-color: #F8CF00;
	font-size: 13px;
	text-align: left;
}
.oddRow{
	background-color: #FFFFFF;	
}

.evenRow{
	background-color: #D4DFE9;	
}
.jobTable td {
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}
a.blue:link {color: #3A66A7; text-decoration: none;}
a.blue:active {color: #3A66A7; text-decoration: none;}
a.blue:visited {color: #3A66A7; text-decoration: none;}
a.blue:hover {color: #3A66A7; text-decoration: none;}

.red{
	color: red;
}

.green{
 	color: green;
}

#dcrCreationDiv{
	display: none;
}

