	/*jsard added below*/
	#mainmenu{
		list-style-type:none;
		margin:0;
		padding:0;
		width:100%;
	}

	.mainmenuitem, .submenuitem{
		height:18px;	
		/*text-wrap: suppress;/*normal|none|unrestricted|suppress;*/	
	}
	
	#collectionsSubMenu, #createDepoSlipSubMenu{
		display: none;
		list-style-type:none;
		margin:0;
		padding:0;
		width:100%;
	}
	
	#collections,#createDepoSlip{
		height: 18px;
	}
	
	/*must be in order: link, visited, hover, active*/
	.mainmenuitem a:link, .mainmenuitem a:visited{	
		display:block;
		height: 18px;
		padding-left: 12px;
		text-align:left;	
		text-decoration:none;
		font:bold 12px/18px Arial, Helvetica, sans-serif;
		color:black;
		background-color:#FE9900;		
	}
	.submenuitem a:link, .submenuitem a:visited{	
		display:block;
		height: 18px;
		padding-left: 24px;
		text-align:left;	
		text-decoration:none;
		font:bold 12px/18px Arial, Helvetica, sans-serif;
		color:black;
		background-color:#FE9900;		
	}
	.mainmenuitem a:hover, .submenuitem a:hover{
		text-decoration:underline;
	}
	.mainmenuitem a:active, .submenuitem a:active{
		background-color:white;
	}

		