#mixedChequePayeeTableDiv {
	width: 1000px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font: bold;
	border: 0px;
	margin: 5px;
	display: inline;
}
#mixedChequePayeeTableNode{
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
}

#createNewCheckDialogDiv{
	display: none;
}

.mixedChequePayeeTable th {
	border: 0px solid white; 
	background-color: #F8CF00;
	font-size: 13px;
	text-align: left;
}

.mixedChequePayeeTable td {
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}

#createNewCheckDiv{
	width: 50%;
	text-align: left;	
	display:inline;
}

#navigationDiv{
	width: 50%;
	text-align: right;	
	display: inline;
}

table{
	width: 100%;	
	}

.overflow { 
	overflow-x: auto;
}
	
.mixedChequePayeeTable .oddRow{
	text-align: left;
	background-color: #FFFFFF;	
}

.mixedChequePayeeTable .evenRow{
	text-align: left;
	background-color: #D4DFE9;	
}

.createNewCheckFormTable .oddRow, .evenRow{
	text-align: left;
	background-color: #FFFFFF;	
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}

label{
	font: bold;
}

.actionButtons {
	width: 100px;
}

.numTB{
	text-align: right;	
}

#confirmButtonDiv {
	width: 100%;
	margin: 0 auto;
	text-align: right;
}

#deleteButton{
	visibility: hidden;	
}

.tableTitle {
	border: 1px solid white; 
	background-color: #003F60;
	font-size: 15px;
	font:bold;
	color: #FFFFFF;
}

a.blue:link {color: #3A66A7; text-decoration: none;}
a.blue:active {color: #3A66A7; text-decoration: none;}
a.blue:visited {color: #3A66A7; text-decoration: none;}
a.blue:hover {color: #3A66A7; text-decoration: none;}