#otherTableHeader {
	width: 800px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;
}
#otherTableHeaderNode{
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
}
table{
	width: 100%;	
	}

.borderedTable {
	border: 1px solid black; 
	border-collapse: collapse;
}

.borderedTable th {
	border: 1px solid black; 
	background-color: #D8D8D8;
	background: url(../images/header.png) #E8E1CF repeat-x bottom;
	background: -moz-linear-gradient(top, #F8F8FF, #DCDCDC);
	background: -webkit-gradient(linear, left top, left bottom, from(#F8F8FF), to(#DCDCDC));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF8F8FF, endColorstr=#FFDCDCDC);
	font-size: 15px;
}

.borderedTable td {
	border: 1px solid black;	
	font-size: 13px;
}

.overflow { 
	overflow-x: auto;
}
	
.oddRow{
	text-align: left;
	background-color: #FFFFFF;	
}

.evenRow{
	text-align: left;
	background-color: #D4DFE9;	
}

#confirmButtonDiv, #saveButtonDiv {
	width: 100%;
	margin: 0 auto;
	text-align: right;
}

.inputTextbox{
	height: 18px;
	width: 200px;	
	text-align: right;
}

