/*FORM*/
.divSubmitClearBtns{
	text-align: center;
}
.clearBtn{
	width: 50px;
	height: 24px;
}

.submitBtn{
	width: 60px;
	height: 24px;
}

#productName{
	float: right;
	font-weight: bold;
}

/*TABLE*/
.spanAddNewReversalEntryBtn{
	display:block;
    text-align:center;
}
.addNewReversalEntryBtn{
	width: 180px;
	height: 24px;
}

/*********************************************************/

#addEditReversalDiv{/*pop up form*/
	display: none;
	
}

/*.reversalFormClass{
	font-size: 12px;
	font-family:arial,helvetica,sans-serif;
}*/

/*.reversalTableClass {
	font-size: 12px;
}*/

.reversalFormClass .ui-dialog-title{
	font-size: 14px;
}

.reversalTableClass .ui-dialog-title{
	font-size: 14px;
}

#reversalDivsByProductId {
	display: none !important; /*fix for hide*/
	width: 800px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;	
	border: 0px solid black;
}
.allReversalTableNode{
	display: inherit; /*fix for hide*/
	padding: 0px; /*fix for border*/
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	border: 1px solid black;
}
.allReversalNode{
	display: inherit; /*fix for hide*/
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
}

table{
	width: 100%;	
	}	

.reversalBorderedTable {
	border: 1px solid white; 
	border-collapse: collapse;
}

.reversalBorderedTable th {
	border: 1px solid white; 
	background-color: #F8CF00;
	font-size: 13px;
	text-align: center;
}

.reversalBorderedTable td {
	border: 1px solid white;	
	font-size: 12px;
	font-family:arial,helvetica,sans-serif; /*set font*/
}

.oddRow{
	background-color: #FFFFFF;	
}

.evenRow{
	background-color: #D4DFE9;	
}

