/*Slamci */
#slamciTableDiv {
    margin: 2px;
}

.slamciTable{
    border-collapse:collapse;
    min-width: 1000px;
}


.slamciTable th{
    background: url("images/header.png") #E8E1CF repeat-x bottom;
    background: -moz-linear-gradient(top, #F8F8FF, #DCDCDC);
    background: -webkit-gradient(linear, left top, left bottom, from(#F8F8FF), to(#DCDCDC));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF8F8FF, endColorstr=#FFDCDCDC);
    border: 1px solid  #708090;
    font-family:arial,helvetica,sans-serif;
    font-size: 14px;
    height: 30px;
    padding:0;
}

.slamciTable td{
    font-family:arial,helvetica,sans-serif;
    font-size: 12px;
    text-indent:15px;
    border: 1px solid  #708090;
    padding-right: 5px;
    text-align: right;
}
.overflow { overflow-x: auto; } 

.slamciTable .evenRow {
    background-color: #FFFFFF;	
}

.slamciTable .oddRow {
    background-color: #D4DFE9;
}

#confirmButtonDiv {
    clear:right;
    float:right;
}
