#slocpiTableDiv {
	float: left;
	width: 800px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;
}
#slocpiTableNode {
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
}
#sessionTotalReconTableDiv {
	width: 350px;
	margin: 5px;
	top: 0px;
	left: 0px;
	padding: 0px auto;
	vertical-align: top;
}
#sessionTotalReconTableNode {
	width: 100%;
	margin: 0 auto;
	top: 0px;
	left: 0px;
}
table{
	width: 100%;	
	}

.borderedTable {
	border: 1px solid black; 
	border-collapse: collapse;
}

.borderedTable th {
	font-family:arial,helvetica,sans-serif;
	height: 30px;
	padding:0;
	
	border: 1px solid black; 
	background-color: #D8D8D8;
	background: url(../images/header.png) #E8E1CF repeat-x bottom;
	background: -moz-linear-gradient(top, #F8F8FF, #DCDCDC);
	background: -webkit-gradient(linear, left top, left bottom, from(#F8F8FF), to(#DCDCDC));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF8F8FF, endColorstr=#FFDCDCDC);
	font-size: 14px;
}

.borderedTable td {
	font-family:arial,helvetica,sans-serif;
	/*text-indent:15px;
	border: 1px solid  #708090;
	padding-right: 5px;*/
	text-align: right;
	
	border: 1px solid black;	
	font-size: 12px;
}

.overflow { 
	overflow-x: auto;
	/*overflow-y: auto;*/
}
	
.oddRow{
	text-align: left;
	background-color: #FFFFFF;	
}

.evenRow{
	text-align: left;
	background-color: #D4DFE9;	
}

#confirmButtonDiv {
	width: 100%;
	margin: 0 auto;
	text-align: right;
}

a.blue:link {color: #3A66A7; text-decoration: none;}
a.blue:active {color: #3A66A7; text-decoration: none;}
a.blue:visited {color: #3A66A7; text-decoration: none;}
a.blue:hover {color: #3A66A7; text-decoration: none;}

.rightAlignDecimalSlocpi{
	text-align: right;
}

.rightAlignDecimalSlgfi{
	text-align: right;
	width: 100px;
}

