.commentTableClass {
	width: 500px;
	text-align: left;
	font-size: 11px;
	color: #000000;
	table-layout: fixed;
}

.commentTableClass th{
	background-color: #ADB7C1;	
	text-align: left;
	font-size: 11px;
	color: #000000;
}

#commentDiv{
	text-align: left;
}
#commentLabel{
	width: 500px;
	border: 0px solid white; 
	background-color: #003F60;
	font-size: 15px;
	text-align: left;
	color: #FFFFFF;
}

.oddRow{
	background-color: #D4DFE9;		
	text-align: center;
}

.evenRow{
	background-color: #FFFFFF;	
	text-align: center;
}

