.balancingToolSummary{	
	border: 1px solid white; 
	margin: 0px;	
	font-size: 11px;
	color: #000000;	
	font-weight: bold;	
	width: 100%;
}

.balancingToolSummary th{
	background-color: #ADB7C1;	
	text-align: center;
}

.oddRow{
	background-color: #D4DFE9;		
	text-align: center;
}

.evenRow{
	background-color: #FFFFFF;	
	text-align: center;
}