/*upload */
#uploadHeader {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font: bold;
	margin-left: 2px;
}

#uploadTableDiv {
	margin: 2px;
}

.uploadTable {
	border-collapse: collapse;
	width: 800px;
}

.uploadTable th {
	background: url("images/header.png") #E8E1CF repeat-x bottom;
	background: -moz-linear-gradient(top, #F8F8FF, #DCDCDC);
	background: -webkit-gradient(linear, left top, left bottom, from(#F8F8FF),
		to(#DCDCDC) );
	filter: progid :   DXImageTransform.Microsoft.gradient (   startColorstr
		= 
		 #FFF8F8FF, endColorstr =   #FFDCDCDC );
	border: 1px solid #708090;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	height: 30px;
	padding: 0;
}

.uploadTable td {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	text-indent: 15px;
	border: 1px solid #708090;
	text-align: left;
}

.overflow {
	overflow-x: auto;
}

.uploadTable .evenRow {
	background-color: #FFFFFF;
}

.uploadTable .oddRow {
	background-color: #D4DFE9;
}

#confirmButtonDiv {
	clear: right;
	float: right;
}

#addMoreFilesDiv {
	border: 1px solid #000000;
	width: 800px;
	margin: 2px;
}

#descTextArea {
	width: 350px;
	height: 50px;
}

#progressbar {
	width: 300px;
	height: 20px;
	margin: 2px;
}

.ui-progressbar .ui-progressbar-value {
	background-image: url(../jquery/jquery-ui-1.9.1/demos/images/pbar-ani.gif);
	
	
}