/*
------------------------------------------------------------
$Workfile:   Wcm.css  $
$Revision: 1.1 $
$Date: 2012/10/24 12:18:36 $
------------------------------------------------------------
Copyright (C) 2002 FileNET Corporation. All rights reserved.
------------------------------------------------------------
*/

.wcmBody
{
    font-size:        8pt;
    font-family:      tahoma, arial, helvetica;
    color:            black;
    background-color: white;
    margin:           0px;
    border-top:       0px;
}


/* make buttons look the same in netscape and IE */
BUTTON
{
    height: 25px;
    font-size:        10pt;
    font-family:      arial, helvetica;
}


/* by classes */

/* ---------- BEGIN WcmFooter ---------*/
.wcmFooter
{
    font-family:      tahoma, arial, helvetica;
    font-size:        10px;
    color:            #2A526E;    /* blue */
}
/* ---------- END WcmFooter ---------*/


/* ---- BEGIN FooterLinksBar --- */
.footerLinksBar
{
    height: 18px;
    width: 100%;
}

.footerLinksBar TD
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    background-color:   #E9E9E9;
    color:              #2A526E;
}

.footerLinksBar .footerLinksWithSeparator
{
    border-right:   1px solid #2A526E;
}

.footerLinksBar A
{
    color:              #2A526E;
    text-decoration:    none;
    margin-right:       8px;
    margin-left:        8px;
}

.footerLinksBar SPAN
{
    margin-right:       8px;
    margin-left:        8px;
}

.footerLinksBar A:hover
{
    text-decoration:    underline;
}

/* ---- END FooterLinksBar --- */


/* begin WcmTextLinksBar */
.wcmTextLinksBar
{
    font-size:          8pt;
    font-family:        tahoma, arial, helvetica;
    color:              #000000
}
.wcmTextLinksBar A
{
    font-style:         italic;
    font-weight:        bold;
    color:              #2A526E;   /* blue */
    text-decoration:    underline;
    line-height:        14pt;
}
.wcmTextLinksBar A:hover
{
    color:              #000000;
}
/* end WcmTextLinksBar */

/* ---- BEGIN WcmSummaryBar --- */

.wcmSummaryBar,
.wcmSummaryBarMainHeadingText,
.wcmSummaryBarItemHeadingText,
.wcmSummaryBarItemValueText
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #2A526E;
    line-height:        14pt;
}

.wcmSummaryBarMainHeadingText
{
    color:              #666666;
}

.wcmSummaryBarItemHeadingText
{
    color:              black;
}

.wcmSummaryBarItemValueText
{
    font-style:         italic;
    color:              #990000;
}

/* ---- END WcmSummaryBar --- */


/* ---- begin tree module ---- */
.t0i
{
    font-family:        tahoma, arial, helvetica;
    font-size:          11px;
    color:              #000000;
    background-color:   #ffffff;
    text-decoration:    none;
}
.t0im
{
    border:             0px;
    width:              16px;
    height:             16px;
}

.treeModule
{
    position:           absolute;
    border:             2px outset #B5C6D2;
    font-family:        tahoma;
    line-height:        12px;
    font-size:          10px;
    background-color:   white;
    overflow:           auto;
    display:            none;
    padding-right:      5px;
    padding-left:       5px;
    padding-bottom:     3px;
}

/* ---- end tree module ---- */


/* ---- begin context menu ---- */
SPAN.contextMenu
{
    top:                -1000px;        /* this is so the vertial scroll bar don't appear when it's not needed */
    left:               0px;
    position:           absolute;
    border:             2px outset #B5C6D2;
    visibility:         hidden;
    color:              black;
    background-color:   white;
    cursor:             default;
}

TABLE.contextMenu
{
    font-family:        tahoma, arial, helvetica;
    line-height:        18px;
    font-size:          8pt;
    color:              black;
    background-color:   white;
}

.contextMenuCell
{
    padding-left:       5px;
    padding-right:      5px;
}

.contextMenu IMG
{
    margin-left:        5px;
}
/* ---- end context menu ---- */



/* ---------- BEGIN WcmInstruction --------- */
.wcmInstructionBar
{
    background-color: #EEEEEE;
    color:            #000099;
    font-size:        8pt;
    font-family:      tahoma, arial, helvetica;
}
.wcmInstructionBorder
{
    background-color: #999999;
}
.wcmInstructionText
{
    font-size:        8pt;
    font-family:      tahoma, arial, helvetica;
}
a.wcmInstructionLink
{
    text-decoration: none;
    color:           #2A526E; /* 003366; */
	color:
}
a.wcmInstructionLink:hover
{
    text-decoration: underline;
}

/* ---------- END WcmInstruction --------- */


/* ---- BEGIN WcmSearchForm --- */
.wcmSearchFormClause
{
    margin-bottom:  5px;
}
.wcmSearchFormHeader
{
    border-bottom:  1px solid gray;
    margin-bottom:  1px;
    width:          100%;
    padding:        2px;
    color:          #666666; /* dark gray */
}
.wcmSearchFormBorder
{
    border:         1px solid gray;
    padding:        3px;
}
.wcmSearchFormInput
{
    border: 1px solid #7F9DB9;  /* blue */
}
.wcmSearchFormOdd
{
    background-color: white;
}
.wcmSearchFormEven
{
    background-color: #EFEFEF; /* light gray */
}
SPAN.wcmSearchFormOperator
{
    font-size:   8pt;
}
.wcmSearchFormOperator
{
    font-style:     italic;
    padding-right:  4px;
}
SPAN.wcmSearchFormProperty
{
    font-size:   8pt;
}
.wcmSearchFormProperty
{
    padding-right:  4px;
}
.wcmSearchFormBox
{
    border:         2px solid white;
}
.wcmSearchFormCondition
{
    border:         1px solid gray;
    padding:        4px;
}
.wcmSearchFormTextBox
{
    border:  1px solid gray;
}
.wcmSearchFormTextBox,
.wcmSearchFormCondition,
.wcmSearchFormText,
.wcmSearchFormHeader,
.wcmSearchFormInput
{
    font-size:   8pt;
    font-family: tahoma, arial, helvetica;
}
/* ---- END WcmSearchForm --- */


/* ---------- BEGIN WcmListView --------- */

/* new styles */
.listViewMessage
{
    font-family: tahoma, arial, helvetica;
    font-size: 8pt;
    padding: 4px;
    border-top: 1px solid #999999;
}

.listViewCheckBox
{
    padding: 0px;
}


.listViewMagazineTable
{
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.listViewComboBox
{
    border: 1px solid #7F9DB9;
    font-family: tahoma, arial, helvetica;
    font-size: 8pt;
    margin-left: 4px;
}

.wcmListViewLabel,
.wcmListViewMessage,
.wcmListViewText,
.wcmListViewRowEven,
.wcmListViewRowOdd,
.wcmListViewLink,
.wcmListViewActionLink,
.wcmListViewItemsFoundText,
.wcmListViewHeader
{
    font-family: tahoma, arial, helvetica;
}
.wcmListViewMessage,
.wcmListViewItemsFoundText,
.wcmListViewLabel,
.wcmListViewHeader,
.wcmListViewLink,
.wcmListViewActionLink
{
    font-size: 8pt;
}
.wcmListViewText,
.wcmListViewRowEven,
.wcmListViewRowOdd
{
    font-size: 8pt;
}
.wcmListViewLabel
{
    color:  #E8B410; /* #666666; dark gray */
}
.wcmListViewItemsFoundText
{
    color: #990000; /* dark red-brown */
}
.wcmListViewHeader
{
    color:            #2A526E;
	/* Andre Ceasar Dacanay - css enhancement - start */
    background-color: #FFCC00; /* light orange */
	/* Andre Ceasar Dacanay - css enhancement - end */
    font-weight: bold;
}
.wcmListViewLink
{
    color: #2A526E; /* dark blue */
    text-decoration: none;
}
.wcmListViewActionLink
{
    color: #2A526E; /* dark blue */
    text-decoration: underline;
}
a.wcmListViewLink:hover,
a.wcmListViewActionLink:hover
{
    color: #0000ff; /* light blue */
    text-decoration: underline;
}
.wcmListViewRowEven
{
    color: black;
    background-color: white;
}
.wcmListViewRowOdd
{
    color: black;
    background-color: #E9E9E9; /* #eeeeee;  */
}

/*----- END WcmListView -----*/


/* --- BEGIN WcmNavigationListView  -- */
.wcmNavigationHeaderTable
{
    border-bottom: 1px solid #999999;
}
.wcmNavigationTable
{
    margin-left: 32px;
}
.wcmNavigationLabel,
.wcmNavigationText,
.wcmNavigationLink
{
    font-family: tahoma, arial, helvetica;
    font-size: 8pt;
}
.wcmNavigationLabel
{
    color: #666666;  /* dark gray */
    padding: 2px;
}
.wcmNavigationLink
{
    color:              #2A526E;  /* dark blue */
    line-height:        14pt;
    text-decoration:    none;
}
.wcmNavigationLink:hover
{
    color: #0000ff;  /* light blue */
    text-decoration: underline;
}

/* -- END WcmNavigationListView -- */


/* -- #5F839C  WcmBannerBar begins -- */

.bannerTable
{
    background: #003f60 url(../images/web/common/BannerElements.jpg) no-repeat right;
    margin-bottom: 1px;
}
.bannerTable TD,
.bannerTable A
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    /*font-weight:        bold; */
    color:              #FFFFFF; /* #FFFFFF; */
    text-decoration:    none;
}
.bannerTable A:hover
{
    text-decoration: underline;
}
.bannerImage
{
    margin-bottom:  7px;
    margin-top:     10px;
}
.bannerTable TD
{
    padding-right:      10px;
    padding-left:       10px;
    padding-bottom:      2px;
    padding-top:         2px;
}

/* -- WcmBannerBar ends -- */


/* -- pop-up banner bar begins -- */
.popupBannerTable TD,
.popupBannerTable A
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #2A526E;
    text-decoration:    none;
}
.popupBannerTable A:hover
{
    text-decoration: underline;
}
.popupBannerTable
{
    background-color: white;
    margin-bottom: 1px;
}
.popupBannerTable TD
{
    padding-right:      11px;
    padding-left:       11px;
    padding-bottom:      2px;
    padding-top:        12px;
}

/* -- WcmPopup ends -- */





/* -- treeView begins-- */
.treeView
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #01334C; /* #FFFFFF */
   /* background-color:   #E8B410;  #01334C;  */
   /* Andre Ceasar Dacanay - css enhancement - start */
    background:         url(../images/web/common/TreeViewElements2_CP.jpg); repeat-y;
   /* Andre Ceasar Dacanay - css enhancement - end */
    line-height:        16px;
}

.treeViewFooter
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #FFFFFF;
    /* Andre Ceasar Dacanay - css enhancement - start */
    /*background-color:   #5F839C;*/
    background:         #FF9900; /* dark orange */

    line-height:        16px;
}

.treeViewSelected
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    /*font-weight:        bold;*/
    color:               #E8B410; /* #2A526E; 003366; */
    /* background-color:   #FFCC00; */
    background-color:   #FFFFFF;
    line-height:        16px;
}
.treeViewAction
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    background-color:   #FFFFFF;
}
.treeViewLink
{
    margin-right:       2px;
    color:              #01334C; /* #FFFFFF */
    text-decoration:    none;
}
.treeView .treeViewLinkRoot
{
    color:              #01334C; /* #FFFFFF */
    text-decoration:    none;
    font-weight:        bold;
}
.treeViewAction .treeViewLinkRoot
{
    color:              #2A526E; /* 003366; */
    text-decoration:    none;
    font-weight:        bold;
}
.treeViewLinkRoot:hover
{
    text-decoration:    underline;
}
.treeViewLink:hover
{
    text-decoration:    underline;
}
.treeViewLinkDisabled
{
    color:              #999999;
    text-decoration:    none;
}
.treeViewSelected .treeViewLinkRoot
{
    color:              #2A526E; /* 003366; */
    /*font-weight:        bold;*/
}
.treeViewSelected .treeViewLink
{
    color:              #2A526E; /* 003366; */
    /*font-weight:        bold;*/
}
.treeViewAction   .treeViewLink
{
    color:              #2A526E; /* 003366; */
}
.treeViewIcon
{
    margin-right:   4px;
    border:         none;
}
.treeViewInfo
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #FFFFFF;   /*#2A526E; blue */
    background-color:    #003f60;/* #B5C6D2;; light blue */
    background-color:    #FF9900;/* #B5C6D2;; light blue */
}


.wcmAppIntTreeViewInfo
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #FFFFFF;   /* #2A526E blue */
    background-color:   #2A526E;  /*  blue */
    background-color:   #FF9900;  /*  blue */
}
.treeViewWizard
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #2A526E; /* 003366; */
    background-color:   #FFFFFF;
    /*text-decoration:    underline;*/
}
.treeViewSelectedInfo
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    /*font-weight:        bold;*/
    background-color:   #FFFFFF;
    color:              #2A526E;   /* blue */
}
.treeViewSelectedWizard
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    /*font-weight:        bold;*/
    background-color:   #FFFFFF;
    color:              #2A526E;   /* blue */
}
.treeViewLinkInfo
{
    color:              #FFFFFF; /* #2A526E;003366; */
    text-decoration:    underline;
}
.treeViewLinkRootWizard
{
    color:              #FFFFFF; /* #2A526E 003366; */
    text-decoration:    underline;
}
.treeViewLinkWizard
{
    color: #990000;     /* dark red-brown */
    text-decoration:    underline;
}
.treeViewSelectedLinkWizard
{
    color: #990000;     /* dark red-brown */
    font-weight:        bold;
    text-decoration:    underline;
}
.treeViewWizard .treeViewLinkWizard
{
    color: #990000; /* dark red-brown */
    text-decoration:    underline;
    /*font-weight:        bold; */
}
.treeViewSelectedInfo .treeViewLinkWizard
{
    color: #990000; /* dark red-brown */
    /*font-weight:        bold;*/
}
.treeViewLinkRootInfo
{
    color:              #FFFFFF; /*#2A526E 003366; */
    text-decoration:    underline;
}
.treeViewSelectedInfo .treeViewLinkRootInfo
{
    color:              #FFFFFF; /* #2A526E 003366; */
    /*font-weight:        bold; */
}
.treeViewSelectedInfo .treeViewLinkInfo
{
    color:              #2A526E; /* 003366; */
    text-decoration:    none;        /* tjl */
    /*font-weight:        bold;*/
}
.treeViewInfo .treeViewLinkRootInfo
{
    color:              #FFFFFF; /* #2A526E 003366; */
    text-decoration:    none;
    font-weight:        bold;
}
.treeViewSelectedInfo .treeViewLinkRootInfo
{
    color:              #2A526E; /* 003366; */
    text-decoration:    none;
    /* font-weight:        bold; */
}
.treeViewLinkDisabledInfo
{
    color:              #2A526E; /* 003366; */
}
.treeViewWizard .treeViewLinkRootWizard
{
    text-decoration:    none;
    background-color:   #FFFFFF;
    color:              #2A526E; /* 003366; */
    font-weight:        bold;
}
/* -- treeView ends -- */



/* -- tabBar begins -- */
.tabBarTable
{
    height: 18px;
}
.tabBar,
.tabBarSelected
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    font-weight:        bold;
}
.tabBar
{
    background-color:   #999999; /* ; #2A526E;*/
}
.tabBarSelected
{
	/* Andre Ceasar Dacanay - css enhancement - start */
    background:         url(../images/web/common/bg_yellow_CP.gif); repeat-x;
	/* Andre Ceasar Dacanay - css enhancement - end */
}
.tabBarLink
{
    margin-left:        8px;
    margin-right:       8px;
    color:              #FFFFFF;
    text-decoration:    none;
}
A.tabBarLink:hover
{
    text-decoration:    underline;
}
.tabBarSelected .tabBarLink
{
	/* Andre Ceasar Dacanay - css enhancement - start */
    color:              #01334C; /*#2A526E;*/
    /* Andre Ceasar Dacanay - css enhancement - end */
}
/* -- tabBar ends -- */




/* -- wcmTreeView begins-- */
.wcmTreeView
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #01334C; /* #FFFFFF */
   /* background-color:   #E8B410;  #01334C;  */
   /* Andre Ceasar Dacanay - css enhancement - start */
    background:         url(../images/web/common/TreeViewElements2_CP.jpg); repeat-y;
   /* Andre Ceasar Dacanay - css enhancement - end */
    line-height:        16px;
}

.wcmTreeViewFooter
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #FFFFFF;
    /* Andre Ceasar Dacanay - css enhancement - start */
    /*background-color:   #5F839C;*/
    background:         #FF9900; /* dark orange */

    line-height:        16px;
}

.wcmTreeViewSelected
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    /*font-weight:        bold;*/
    color:               #E8B410; /* #2A526E; 003366; */
    /* background-color:   #FFCC00; */
    background-color:   #FFFFFF;
    line-height:        16px;
}
.wcmTreeViewAction
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    background-color:   #FFFFFF;
}
.wcmTreeViewLink
{
    margin-right:       2px;
    color:              #01334C; /* #FFFFFF */
    text-decoration:    none;
}
.wcmTreeView .wcmTreeViewLinkRoot
{
    color:              #01334C; /* #FFFFFF */
    text-decoration:    none;
    font-weight:        bold;
}
.wcmTreeViewAction .wcmTreeViewLinkRoot
{
    color:              #2A526E; /* 003366; */
    text-decoration:    none;
    font-weight:        bold;
}
.wcmTreeViewLinkRoot:hover
{
    text-decoration:    underline;
}
.wcmTreeViewLink:hover
{
    text-decoration:    underline;
}
.wcmTreeViewLinkDisabled
{
    color:              #999999;
    text-decoration:    none;
}
.wcmTreeViewSelected .wcmTreeViewLinkRoot
{
    color:              #2A526E; /* 003366; */
    /*font-weight:        bold;*/
}
.wcmTreeViewSelected .wcmTreeViewLink
{
    color:              #2A526E; /* 003366; */
    /*font-weight:        bold;*/
}
.wcmTreeViewAction   .wcmTreeViewLink
{
    color:              #2A526E; /* 003366; */
}
.wcmTreeViewIcon
{
    margin-right:   4px;
    border:         none;
}
.wcmTreeViewInfo
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #FFFFFF;   /*#2A526E; blue */
    background-color:    #003f60;/* #B5C6D2;; light blue */
    background-color:    #FF9900;/* #B5C6D2;; light blue */
}


.wcmAppIntTreeViewInfo
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #FFFFFF;   /* #2A526E blue */
    background-color:   #2A526E;  /*  blue */
    background-color:   #FF9900;  /*  blue */
}
.wcmTreeViewWizard
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    color:              #2A526E; /* 003366; */
    background-color:   #FFFFFF;
    /*text-decoration:    underline;*/
}
.wcmTreeViewSelectedInfo
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    /*font-weight:        bold;*/
    background-color:   #FFFFFF;
    color:              #2A526E;   /* blue */
}
.wcmTreeViewSelectedWizard
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    /*font-weight:        bold;*/
    background-color:   #FFFFFF;
    color:              #2A526E;   /* blue */
}
.wcmTreeViewLinkInfo
{
    color:              #FFFFFF; /* #2A526E;003366; */
    text-decoration:    underline;
}
.wcmTreeViewLinkRootWizard
{
    color:              #FFFFFF; /* #2A526E 003366; */
    text-decoration:    underline;
}
.wcmTreeViewLinkWizard
{
    color: #990000;     /* dark red-brown */
    text-decoration:    underline;
}
.wcmTreeViewSelectedLinkWizard
{
    color: #990000;     /* dark red-brown */
    font-weight:        bold;
    text-decoration:    underline;
}
.wcmTreeViewWizard .wcmTreeViewLinkWizard
{
    color: #990000; /* dark red-brown */
    text-decoration:    underline;
    /*font-weight:        bold; */
}
.wcmTreeViewSelectedInfo .wcmTreeViewLinkWizard
{
    color: #990000; /* dark red-brown */
    /*font-weight:        bold;*/
}
.wcmTreeViewLinkRootInfo
{
    color:              #FFFFFF; /*#2A526E 003366; */
    text-decoration:    underline;
}
.wcmTreeViewSelectedInfo .wcmTreeViewLinkRootInfo
{
    color:              #FFFFFF; /* #2A526E 003366; */
    /*font-weight:        bold; */
}
.wcmTreeViewSelectedInfo .wcmTreeViewLinkInfo
{
    color:              #2A526E; /* 003366; */
    text-decoration:    none;        /* tjl */
    /*font-weight:        bold;*/
}
.wcmTreeViewInfo .wcmTreeViewLinkRootInfo
{
    color:              #FFFFFF; /* #2A526E 003366; */
    text-decoration:    none;
    font-weight:        bold;
}
.wcmTreeViewSelectedInfo .wcmTreeViewLinkRootInfo
{
    color:              #2A526E; /* 003366; */
    text-decoration:    none;
    /* font-weight:        bold; */
}
.wcmTreeViewLinkDisabledInfo
{
    color:              #2A526E; /* 003366; */
}
.wcmTreeViewWizard .wcmTreeViewLinkRootWizard
{
    text-decoration:    none;
    background-color:   #FFFFFF;
    color:              #2A526E; /* 003366; */
    font-weight:        bold;
}
/* -- wcmTreeView ends -- */



/* -- WcmTabBar begins -- */
.tabBarTable
{
    height: 18px;
}
.wcmTabBar,
.wcmTabBarSelected
{
    font-family:        tahoma, arial, helvetica;
    font-size:          8pt;
    font-weight:        bold;
}
.wcmTabBar
{
    background-color:   #999999; /* ; #2A526E;*/
}
.wcmTabBarSelected
{
	/* Andre Ceasar Dacanay - css enhancement - start */
    background:         url(../images/web/common/bg_yellow_CP.gif); repeat-x;
	/* Andre Ceasar Dacanay - css enhancement - end */
}
.wcmTabBarLink
{
    margin-left:        8px;
    margin-right:       8px;
    color:              #FFFFFF;
    text-decoration:    none;
}
A.wcmTabBarLink:hover
{
    text-decoration:    underline;
}
.wcmTabBarSelected .wcmTabBarLink
{
	/* Andre Ceasar Dacanay - css enhancement - start */
    color:              #01334C; /*#2A526E;*/
    /* Andre Ceasar Dacanay - css enhancement - end */
}
/* -- WcmTabBar ends -- */

/* --- WcmErrorMessageBox -- */
.wcmErrorMessage
{
    padding: 20px;
    color: black;
    background:  #E9B410; /* #B5C6D2; */
    font-size: 10pt;
    font-family: tahoma, arial, helvetica;
}
.wcmErrorHeader
{
    padding: 3px;
    color:   white;
    background: #003f60; /*#2A526E;*/
    font-size: 10pt;
    font-family: tahoma, arial, helvetica;
}
.wcmErrorDetails
{
    padding: 3px;
    border: 1px solid #003f60; /*#666666;*/
    background: white;
    color: #01334C; /*black;*/
    font-family: arial, helvetica;
    font-size: 9pt;
}
.wcmErrorDetailsCell
{
    background: #003f60; /*#B5C6D2;*/
    padding: 10px;
}
.wcmErrorTable
{
    width: 85%;
    border: 1px solid #666666;
}
.wcmErrorHeader A
{
    font-size: 9pt;
    font-family: tahoma, arial, helvetica;
    color: white;
    text-decoration: none;
}
.wcmErrorHeader A:hover
{
    text-decoration: underline;
}
.wcmErrorDetailsFile
{
    color: red;
}

/* --- WcmErrorMessageBox -- */

/* ----- BEGIN WcmPathView --*/
.wcmPathText,
.wcmPathLabel,
.wcmClassPathLabel,
.wcmPathLinkEnd,
.wcmPathLabelEnd,
.wcmPathLink
{
    font-size:   8pt;
    font-family: tahoma, arial, helvetica;
}
.wcmPathLabel
{
    color: #666666; /* dark gray */
}
.wcmClassPathLabel
{
    color: #2A526E; /* dark blue */
    font-weight: bold;
}

.wcmPathLinkEnd
{
    color: #990000; /* dark red brown */
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}
.wcmPathLabelEnd
{
    color: #990000; /* dark red brown */
    font-size: 9pt;
    font-style: italic;
    text-decoration: none;
}
.wcmPathLinkEnd:hover
{
    color: #AA0000;
    text-decoration: underline;
}
.wcmPathLink
{
    color: #2A526E; /* dark blue */
    font-weight: bold;
    text-decoration: none;
}
.wcmPathLink:hover
{
    color: #0000ff; /* light blue */
    text-decoration: underline;
}

/* --- END of WcmPathView classes --- */

/*---- BEGIN Preferences ----*/
.wcmPrefsBorder
{
    border: 3px solid #B5C6D2;
    padding: 8px;
    width:      100%;
}
.wcmPrefsMainHeader
{
    font-weight:        bold;
    font-family:        arial, helvetica;
    font-size:          12pt;
    padding-left:       4px;
    padding-bottom:     2px;
}
.wcmPrefsRow
{
    padding:            2px;
    font-size:          8pt;
    font-family:        tahoma, arial, helvetica;
}
.wcmPrefsHeader
{
    font-weight:        bold;
}
.wcmPrefsDescription
{
    padding-left:       25px;
}
.wcmPrefsDefaults
{
    text-align:         center;
}
/*---- END of Preferences ----*/

/*---- BEGIN WcmAuthorModule ---*/
.wcmAuthorTitleRow TD
{
    border-bottom: 1px solid #999999;
    vertical-align: bottom;
}

.wcmAuthorTitleRow IMG
{
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: none;
    height: 32px;
    width: 32px;
}

.wcmAuthorTitleRow A
{
    font-family: tahoma, arial, helvetica;
    font-size: 10pt;
    line-height: 15pt;
    font-weight: bold;
    text-decoration: none;
}

.wcmAuthorTitleRow A:hover
{
    text-decoration: underline;
}

.wcmAuthorDescription
{
    font-size: 8pt;
    font-family: tahoma, arial, helvetica;
    color: #666666;
}

.wcmAuthorSelectedItem
{
    color: #990000; /* dark red-brown */
    font-size: 12pt;
    font-weight: bold;
}

.wcmAuthorLink
{
    font-size: 8pt;
    font-family: tahoma, arial, helvetica;
    text-decoration: underline;
}

/*---- END WcmAuthorModule ---*/

/* --- BEGIN print view styles --- */
.wcmBoldPrintView
{
    font-weight:      bold;
    font-size:        8pt;
    font-family:      tahoma, arial, helvetica;
}
.wcmPlainPrintView,
.wcmIndentPrintView,
.wcmUnderlinePrintView,
.wcmUnderlineIndentPrintView
{
    font-size:        8pt;
    font-family:      tahoma, arial, helvetica;
}
.WcmUnderlineIndentPrintView,
.wcmIndentPrintView
{
    border-left: 30px solid #fff;
}
.wcmUnderlineIndentPrintView,
.wcmUnderlinePrintView
{
    border-bottom: 1px solid gray;
    margin-bottom: 1px;
}
/*---- END print view styles --- */

/* --- BEGIN form styles --- */
.wcmFormText,
.wcmErrorText,
.wcmFormButton,
.wcmFormInput,
.wcmFormRowOdd,
.wcmFormRowOddGray,
.wcmFormRowEven,
.wcmFormMainHeader,
.wcmFormHeader,
.wcmFormLink,
.wcmFormButtonLink
{
    font-size:        8pt;
    font-family:      tahoma, arial, helvetica;
}
.wcmFormButton
{
    font-weight:      bold;
    color:            white;
    background-color: #990000; /* red */
    border-style:     none;
}
.wcmFormText
{
    color:            black;
}
.wcmErrorText
{
    color:            red;
}
.wcmFormRowOddGray
{
    color:        #999999;
}
.wcmFormInput,
.wcmFormMenu
{
    color:            black;
}
.wcmFormLink
{
    color: #2A526E; /* dark blue */
    text-decoration: underline;
}
.wcmFormLinkNoUnderline
{
    color: #2A526E; /* dark blue */
    text-decoration: none;
}
.wcmFormLink:hover
{
    text-decoration: underline;
}
.wcmFormButtonLink
{
    color:              white;
    font-weight:        bold;
    text-decoration:    none;
}
.wcmFormButtonLink:hover
{
    text-decoration: underline;
}
.wcmFormRowOdd
{
    color:            black;
    background-color: #E9E9E9;
}
.wcmFormRowEven
{
    color:            black;
    background-color: #FFFFFF;
}
.wcmFormMainHeader
{
    color:            #2A526E;
    background-color: #B5C6D2;
}
.wcmFormHeader
{
    font-weight:      bold;
    color:            #2A526E;
    background-color: #B5C6D2;
}

/* --- END form styles --- */

/* --- BEGIN sign in form styles --- */
.wcmSignInFormHeader
{
    font-size:        12pt;
    color:            white;
}

.wcmSignInFormBackground
{
    color:            #01334C;/*black;*/
    background-color: #FFFFFF;
}

.wcmSignInBorderBackground
{
    font-weight:      bold;
    font-size:        10pt;
    color:	      white;
    background-color: #1334C;
}

.wcmSignInBorder
{
    background-color: #003f60;
}

.wcmSignInFormError
{
    font-size:        8pt;
    color:            #FF0000;
}

.wcmSignInFormFooter
{
    background-color: #CDD7E2;
}

/* --- END sign in form styles --- */

/* --- BEGIN paging styles --- */
.pagingLink,
.pagingLabel
{
    font-family: tahoma, arial, sans-serif;
    font-size: 8pt;
    margin-left: 3px;
    margin-right: 3px;
}
.pagingLink
{
    color: #2A526E;
    text-decoration: underline;
}
.pagingLink:hover
{
    color: #CC3333;
}
.pagingLabel
{
    color: #666666; /* gray */
}
.pagingInput
{
    border: 1px solid #7F9DB9;
    font-size: 7pt;
    font-family: tahoma, arial, helvetica;
    text-align: right;
}
/* --- END paging styles --- */

/* ---- BEGIN WcmToolBar --- */
.wcmToolBarDiv
{
    border-top: 1px solid #999999;
}
.wcmToolBarTable
{
    margin-left: 32px;
}
.wcmToolBarTable TD
{
    font-family: tahoma, arial, helvetica;
    font-size: 8pt;
    padding-right: 10px;
}
.wcmToolBarTable A
{
    font-family: tahoma, arial, helvetica;
    font-size: 8pt;
    text-decoration: none;
    color: #01334C; /* #2A526E dark blue */
}
.wcmToolBarTable A:hover
{
    text-decoration: underline;
    color: #0000ff; /* light blue */
}

.wcmToolBarTop
{
    background-color: #999999;
}
.wcmToolBarText
{
    font-family: tahoma, arial, helvetica;
    font-size: 8pt;
    color: #2A526E; /* dark blue */
    text-decoration: none;
}
a.wcmToolBarLink
{
    text-decoration: none;
    color: #2A526E; /* dark blue */
}
a.wcmToolBarLink:hover
{
    text-decoration: underline;
    color: #0000ff; /* light blue */
}

/* -- END WcmToolBar -- */

/* -- Generic Styles -- */
.wcmSeparator
{
    background-color: #999999;
}

.wcmRegionDivider
{
/*tjl    background-color: #003366;*/
    background-color: white;
}

.wcmLabel
{
    font-family: tahoma, arial, helvetica;
    font-size: 8pt;
    color: #003f60; /* #666666 */
    background-color: white;
}
.wcmLink
{
    font-family: tahoma, arial, helvetica;
    font-size: 8pt;
    color: #2A526E; /* dark blue */
    text-decoration: none;
}
.wcmLink:hover
{
    color: #cc3333;
    text-decoration: none;
}

.wcmLinkHeader
{
    font-family: tahoma, arial, helvetica;
    font-size: 8pt;
    /* color: #2A526E; */ /* dark blue */
    color: #FFFFFF;
    text-decoration: none;
}
.wcmLinkHeader:hover
{
    /* color: #cc3333; */
    color: #FFFFFF;
    text-decoration: none;
}

.wcmErrorFieldName
{
    font-family: tahoma, arial, helvetica;
    color: #990000; /* dark red brown */
    font-size: 8pt;
    font-style: italic;
    text-decoration:    none;
}

.wcmErrorFieldLink
{
    font-family: tahoma, arial, helvetica;
    color: #990000; /* dark red brown */
    font-size: 8pt;
    font-style: italic;
    text-decoration:    none;
}



/************* calendar DHTML control ***************/

/* The main calendar widget.  DIV containing a table. */

.calendar {
  position: relative;
  display: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #d4d0c8;
  font-family: tahoma,sans-serif;
}

.calendar table {
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #d4d0c8;
  font-family: tahoma,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;
  padding: 1px;
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;
  padding: 1px;
  border: 1px solid #000;
  background: #848078;
  color: #fff;
  text-align: center;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #000;
  padding: 2px;
  text-align: center;
  background: #f4f0e8;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #f00;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  border-top: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  padding: 0px;
  background: #e4e0d8;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  background: #c4c0b8;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  text-align: right;
  padding: 2px 4px 2px 2px;
}

.calendar tbody .hilite { /* Hovered cells <TD> */
  padding: 1px 3px 1px 1px;
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
}

.calendar tbody .active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

.calendar tbody .selected { /* Cell showing selected date */
  font-weight: bold;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  padding: 2px 2px 0px 2px;
  background: #e4e0d8;
}

.calendar tbody .weekend { /* Cells showing weekend days */
  color: #f00;
}

.calendar tbody .today { /* Cell showing today date */
  font-weight: bold;
  color: #00f;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #f4f0e8;
  padding: 1px;
  border: 1px solid #000;
  background: #848078;
  color: #fff;
  text-align: center;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  padding: 1px;
  background: #e4e0d8;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.combo {
  position: absolute;
  display: none;
  width: 4em;
  top: 0px;
  left: 0px;
  cursor: default;
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  background: #e4e0d8;
  font-size: smaller;
  padding: 1px;
}

.combo .label {
  text-align: center;
  padding: 1px;
}

.combo .active {
  background: #c4c0b8;
  padding: 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

.combo .hilite {
  background: #048;
  color: #fea;
}

/*********** end of calendar DHTML control ************/


.clientSideTree
{
    font: 8pt tahoma, arial, helvetica;
    color: black;
    white-space: nowrap;
}
.clientSideTree DIV
{
    padding-left: 19px;
}
.clientSideTree .icon
{
    vertical-align: middle;
    margin-right: 3px;
    height: 16px;
    width: 16px;
}
.clientSideTree .plus
{
    vertical-align: middle;
    height: 16px;
    width: 19px;
}
.clientSideTree A
{
    color: black;
    text-decoration: none;
}
.clientSideTree A:hover
{
    color: blue;
    text-decoration: underline;
}
.clientSideTree .clientSideTreePaging
{
    text-decoration: underline;
}






/* do not add any more styles below !!!!!!!! */
.wcmTextLarge
{
    font-size: 9pt;
}
